/* src/components/ListRequests/ListRequests.module.css */

.listRequestsContainer {
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 2rem;
  font-weight: 600;
  color: #333333;
  margin-bottom: 2rem;
}

.loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh; /* Ajuste conforme necessário */
}

.spinner {
  margin-bottom: 1rem;
  width: 3rem;
  height: 3rem;
  color: #007bff;
}

.tableWrapper {
  overflow-x: auto;
}

.table {
  min-width: 800px;
}

.editButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffc107;
  border-color: #ffc107;
  color: #212529;
  transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

.editButton:hover,
.editButton:focus {
  background-color: #e0a800;
  border-color: #d39e00;
  color: #212529;
}

.noData {
  font-size: 1.2rem;
  color: #555555;
  margin-top: 2rem;
}

.alert {
  margin-bottom: 1.5rem;
}
